@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.file-dropdown-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #CBD5E0 #EDF2F7;
}

.file-dropdown-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.file-dropdown-scrollbar::-webkit-scrollbar-track {
  background: #EDF2F7;
}

.file-dropdown-scrollbar::-webkit-scrollbar-thumb {
  background-color: #CBD5E0;
  border-radius: 2px;
}
